.card{
    background-color: rgb(240, 194, 8);
    padding: 10px;
    border-radius: 20px;
    width: 300px;
}

.card img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}
.container{
    display: flex;
    justify-content: center;
}